<div class="card" style="padding-bottom: 1rem;">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" (click)="navigateToHomepage()" height="40"
                class="mr-2" style="cursor: pointer;" />
        </ng-template>
        <ng-template pTemplate="end">
            <div *ngIf="!isOnCredentialsPage()">
                <p-button label="Logout" *ngIf="isAuthenticated;else login;" (onClick)="logout()"
                    styleClass="p-button-danger"></p-button>
                <ng-template #login>
                    <p-button label="Login" #login (onClick)="navigateToLogin()"
                        styleClass="p-button-success"></p-button>
                </ng-template>
            </div>

        </ng-template>
    </p-menubar>
</div>